name: Build - Dev

on:
  workflow_dispatch:
  push:
    branches: [dev]
  pull_request:
    types: [closed]
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Get Secrets From Key Vault
        id: kv
        uses: azure/get-keyvault-secrets@v1
        with:
          keyvault: octcer-secret-vault
          secrets: GHCR-USERNAME, GHCR-TOKEN

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ steps.kv.outputs['GHCR-USERNAME'] }}
          password: ${{ steps.kv.outputs['GHCR-TOKEN'] }}

      - name: Set lowercase repository name
        id: repo-name
        run: echo "REPO_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ghcr.io/${{ env.REPO_NAME }}-dev:latest
