name: Deploy - Dev
on:
  workflow_run:
    workflows: ["Build - Dev"]
    types: [completed]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: octacer_info
    steps:
      - name: Setup SSH
        run: |
         mkdir -p ~/.ssh
         echo "$SSH_KEY" > ~/.ssh/id_rsa
         chmod 600 ~/.ssh/id_rsa
         ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /var/www/projects/zingage-offer-letter-dev
            sudo ./update.sh
